<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <style>
        .rate{background: url(https://aldo814.github.io/jobcloud/html/images/user/star_bg02.png) no-repeat;width: 121px;height: 20px;position: relative;}
        .rate span{position: absolute;background: url(https://aldo814.github.io/jobcloud/html/images/user/star02.png);width: auto;height: 20px;}
    </style>
</head>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3fa5806dfe291fb3622cf85fca14b017&libraries=services,clusterer,drawing"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<body>

<div class="container">
    <div class="py-5 text-center">
        <h2>메인테스트 화면</h2>
        <div id="map" style="width:700px;height:900px;"></div>
        <button onclick="setOverlayMapTypeId('traffic')">교통정보 보기</button>
        <button onclick="toggleMarkers()">마커 표시</button>
        <button onclick="hideMarkers()">마커 표시</button>
        <script th:inline="javascript">
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(37.45139514881181, 126.74155431191699), // 지도의 중심좌표
                    level: 8 // 지도의 확대 레벨
                };
            // 지도를 생성합니다
            var map = new kakao.maps.Map(mapContainer, mapOption);

            // 지도에 추가된 지도타입정보를 가지고 있을 변수입니다
            var currentTypeId;

            // 버튼이 클릭되면 호출되는 함수입니다
            function setOverlayMapTypeId(maptype) {
                // 현재 지도 타입이 교통정보인지 확인합니다
                var isTrafficType = currentTypeId === kakao.maps.MapTypeId.TRAFFIC;

                if (maptype === 'traffic') {
                    // 현재 지도 타입이 교통정보이면 껐다 켭니다
                    if (isTrafficType) {
                        map.removeOverlayMapTypeId(kakao.maps.MapTypeId.TRAFFIC);
                        currentTypeId = null;
                    } else {
                        // 교통정보 지도타입을 추가합니다
                        map.addOverlayMapTypeId(kakao.maps.MapTypeId.TRAFFIC);
                        currentTypeId = kakao.maps.MapTypeId.TRAFFIC;
                    }
                }
            }

            // // 지도에 교통정보를 표시하도록 지도타입을 추가합니다
            // map.addOverlayMapTypeId(kakao.maps.MapTypeId.TRAFFIC);

            // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
            var mapTypeControl = new kakao.maps.MapTypeControl();

            // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
            // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
            map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

            // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
            var zoomControl = new kakao.maps.ZoomControl();
            map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

            // // 주소-좌표 변환 객체를 생성합니다
            // var geocoder = new kakao.maps.services.Geocoder();




            var list = [[${food}]];
            console.log(list)

            var positions = []
            var yaho = []


            // 받아온 데이터를 posittions에 저장하는 함수
            list.forEach(function (address) {

                var first_address = address.add2;
                var name = address.brandName;
                var score = address.reviewScore
                var longitude = address.longitude
                var latitude = address.latitude
                console.log(name)
                positions.push(
                    {content: '<div> 상호명: '+name+'</div>'+
                        '<div> 주소: '+first_address+'</div>'+
                        '<div class="rate"> 점수: '+score+'<span style = "width:'+(score/5)*100+'%"></span></div>'
                        ,
                    latlng: new kakao.maps.LatLng(latitude,longitude)}
                )
            });


            function setMarkers(positions) {

                for (var i = 0; i < positions.length; i++) {
                    // 마커를 생성합니다
                    var marker = new kakao.maps.Marker({
                        map: map, // 마커를 표시할 지도
                        position: positions[i].latlng // 마커의 위치
                    });

                    // 마커에 표시할 인포윈도우를 생성합니다
                    var infowindow = new kakao.maps.InfoWindow({
                        content: positions[i].content // 인포윈도우에 표시할 내용
                    });

                    // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
                    // 이벤트 리스너로는 클로저를 만들어 등록합니다
                    // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
                    kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
                    kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
                }

                // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
                function makeOverListener(map, marker, infowindow) {
                    return function () {
                        infowindow.open(map, marker);
                    };
                }

                // 인포윈도우를 닫는 클로저를 만드는 함수입니다
                function makeOutListener(infowindow) {
                    return function () {
                        infowindow.close();
                    };
                }
            }


            // 상태 변수 초기화
            var markersVisible = false;
            function showMarkers() {
                setMarkers(positions);
            }

            // "마커 감추기" 버튼을 클릭하면 호출되어 배열에 추가된 마커를 지도에서 삭제하는 함수입니다
            function hideMarkers() {
                setMarkers(null);
            }

            // 토글 버튼 클릭 시 호출되는 함수
            function toggleMarkers() {
                // 현재 마커의 보이기/감추기 상태를 토글
                markersVisible = !markersVisible;

                // 상태에 따라 마커 보이기/감추기 함수 호출
                if (markersVisible) {
                    showMarkers();
                } else {
                    hideMarkers();
                }
            }

            // "마커 보이기" 버튼을 클릭하면 호출되어 배열에 추가된 마커를 지도에 표시하는 함수입니다



        </script>

    </div>
</body>
</html>