<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3fa5806dfe291fb3622cf85fca14b017"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3fa5806dfe291fb3622cf85fca14b017&libraries=services,clusterer,drawing"></script>


<body>

<div class="container">
    <div class="py-5 text-center">
        <script>
            // 지도 관련 스크립트
            var container = document.getElementById('map');
            var options = {
                center: new kakao.maps.LatLng(33.450701, 126.570667),
                level: 3
            };

            var map = new kakao.maps.Map(container, options);
            map.addOverlayMapTypeId(kakao.maps.MapTypeId.TRAFFIC);
            //
            // // 주소-좌표 변환 객체를 생성합니다
            // var geocoder = new kakao.maps.services.Geocoder();
            //
            // // 주소로 좌표를 검색합니다
            //
            // geocoder.addressSearch('제주특별자치도 제주시 첨단로 242', function(result, status) {
            //
            //     // 정상적으로 검색이 완료됐으면
            //     if (status === kakao.maps.services.Status.OK) {
            //
            //         var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
            //
            //         // 결과값으로 받은 위치를 마커로 표시합니다
            //         var marker = new kakao.maps.Marker({
            //             map: map,
            //             position: coords
            //         });
            //
            //         // 인포윈도우로 장소에 대한 설명을 표시합니다
            //         var infowindow = new kakao.maps.InfoWindow({
            //             content: '<div style="width:150px;text-align:center;padding:6px 0;">우리회사</div>'
            //         });
        </script>
        <h2>메인테스트 화면</h2>
        <div id="map" style="width:500px;height:400px;"></div>
        <table id="ranking-table">
            <thead>
            <tr>
                <th>순위</th>
                <th>팀명</th>
                <th>경기</th>
                <th>승</th>
                <th>무</th>
                <th>패</th>
                <th>승률</th>
                <th>게임차</th>
                <th>연속</th>
                <th>최근10경기</th>
            </tr>
            </thead>
            <tbody>
            <!-- 초기 데이터로 홍길동, 이순신, 강감찬 추가 -->
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
            </tr>
            </tbody>
        </table>





</div>
</body>
</html>