<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="ALL"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>브랜드별 프랜차이즈 가맹현황</title>
  <meta name="Description" content="브랜드별 외식업 프랜차이즈 가맹점 통계에 대한 다양한 정보를 제공합니다."/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0.1,maximum-scale=5.0,user-scalable=yes" />
  <link rel="stylesheet" type="text/css" href="css/reset.css" >
  <link rel="stylesheet" type="text/css" href="css/layout.css" >
  <link rel="stylesheet" type="text/css" href="css/jquery.stickytable.css">
  <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <script src="/js/jquery.js"></script>
  <script src="//code.jquery.com/jquery-3.6.0.js"></script>
  <script src="/js/jquery-ui.js"></script><!--layout 리사이즈-->
  <script src="//cdn.jsdelivr.net/npm/chart.js"></script> <!-- js chart 설치 -->
  <script src="/js/jquery.stickytable.js"></script><!-- 고정 테이블 -->
  <script src="//kit.fontawesome.com/56b5cc4bd2.js" crossorigin="anonymous"></script><!-- 폰트어썸(아이콘 폰트) 사용 인증된 링크 -->
  <!--    <script src="js/jquery-ui-1.10.4.custom.min.js"></script>-->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="category">
<div class="container">
  <!-- ####### 01. HEADER START ####### -->
  <div class="header_wrap" th:insert="~{header.html}"></div>
  <!-- ####### 01. HEADER END ####### -->
  <hr class="skip"/>
  <!-- ####### 02. LNB START ######### -->
  <div class="lnb_wrap">
    <!-- #### 02-1. 좌측 고정 업종별 아이콘 메뉴 시작 -->
    <dl class="fixed_quick_menu" th:insert="~{fixed_lnb.html}"></dl>
    <hr class="skip"/>
    <!-- #### 02-2. 좌측 on/off 페이지 서브 메뉴 노출 시작 -->
    <div class="lnb" th:insert="~{category_lnb.html}">
      <div class="btn_lnb_open"><a href="#" class="fa fa-chevron-left"></a></div>
      <!-- 02-2-2.페이지 컨텐츠 서브 메뉴 노출 끝 -->
    </div>
    <!-- #### 02-2 좌측 on/off 페이지 서브 메뉴 노출 끝 -->
  </div>
  <!-- ####### 02. LNB END ########## -->
  <hr class="skip"/>
  <!-- ####### 03. CONTENTS START ####### -->
  <section class="contents_wrap">
    <!-- #### 03-1.우측 본문 영역 시작 -->
    <div class="right_contents">
      <!-- ######## 각 페이지에 해당 하는 내용 HTML을 넣어주세요.########### -->
      <script>
        $(function(){
          // 업종별 대메뉴 활성화(class="active") 메뉴버튼 처리
          $("nav ul li:nth-child(1) a").addClass("active");
          // 사용자가 선택한 메뉴 활성화(class="active")에 따른 페이지 메뉴명 제이쿼리 변경 처리
          $(".sub_menu_list li a.active").clone().appendTo(".right_contents h1");
         // $(".right_contents h1 span").appendTo("분석");
          // 페이지 네비게이션 경로 처리
          $("nav ul li a.active").clone().appendTo(".page_path");
          $(".sub_menu_list li a.active span").clone().appendTo(".page_path");
        });
      </script>
      <!-- ## 페이지 타이틀 ## -->
      <h1><!-- 좌측 메뉴 .active 되어 있는 메뉴명 제이쿼리 클론하여 가져옴 --> </h1>
      <!-- ## 페이지 네비 경로 ## -->
      <span class="page_path"><!-- 페이지 네비게이션 제이쿼리 액티브 메뉴 복사 --></span>
      <div class="graph_wrap">
        <div class="brand_pie_chart">
          <div class="title">
            <h2 th:text="|[${category}] TOP5 프랜차이즈 점유율|">[한식] 프랜차이즈 점유율 TOP5</h2>
            <span>출처 : 공정거래위원회</span>
          </div>
          <!--2022년 기준 &ndash;&gt; 한식 업종 브랜드 상위 10개 업체 점유율 챠트 노출해주세요!-->

          <!--가맹정보_브랜드별_가맹점_현황_제공_서비스-->
          <div style="width:100%;height:auto;">

            <!-- js chart  차트 넣는 부분! -->
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

            <div style="width:auto;height:auto;">
              <canvas id="myChart"></canvas>
              <!-- 커스텀범례-->
              <div id="customLegend" style="margin-top: 10px;"></div>
            </div>

            <form id="categoryForm" action="/category" method="post">
              <input type="hidden" id="category" name="category">
            </form>


            <script th:inline="javascript">
                function sendCategory(category) {
                document.getElementById('category').value = category;
                document.getElementById('categoryForm').submit();
                console.log('카테고리 submit')
                }


              // function sendCategory(category) {
              //   var formData = new FormData();
              //   formData.append('category', category);
              //
              //   $.ajax({
              //     type: "POST", // 또는 "GET"
              //     url: "http://localhost:8080/category", // 폼을 제출할 URL을 입력
              //     data: formData,
              //     processData: false,
              //     contentType: false,
              //     success: function (response) {
              //       console.log('폼 제출 성공');
              //       // 성공 시 추가적인 작업 수행
              //     },
              //     error: function (error) {
              //       console.log('폼 제출 실패');
              //       // 실패 시 추가적인 작업 수행
              //     }
              //   });
              // }





              var brandList = [[${brand}]];
              console.log(brandList)

              var ctx = document.getElementById('myChart').getContext('2d');
              var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                  labels: brandList.map(brand => brand.brandName),
                  datasets: [{
                    label: '가맹점수 TOP 5',
                    data: brandList.map(brand => brand.franchisesNumber),
                    backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                    ],
                    borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                    ],
                    borderWidth: 1
                  }]
                },
                options: {
                  responsive: true,
                  maintainAspectRatio: false,
                  animation: false,
                  legend: {
                    position: 'right',
                    display: true
                  },
                  plugins: {
                    legend: {
                      position: 'right',
                    },
                  }
                }
              });
            </script>

            <br>
          </div>
        </div>
        <div class="year_line_chart">
          <div class="title">
            <h2 th:text="|[${category}] TOP5 평균 매출금액|">[한식] 년도별 통계분석 Top10</h2>
            <span>2018~2022 평균 매출 금액 기준</span>
          </div>
          <div style="width:auto;height:auto;">
            <!-- js chart  차트 넣는 부분! -->
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

            <div style="width:auto;height:auto;">
              <canvas id="lineChart" style="height: 300px;"></canvas>
            </div>

            <script th:inline="javascript">
              var brandList2 = [[${brand2}]];
              console.log(brandList2)

              var ctx = document.getElementById('lineChart').getContext('2d');
              var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                  labels: brandList2.map(brand => brand.brandName),
                  datasets: [{
                    label: '2018~2022 평균매출금액 TOP 5',
                    data: brandList2.map(brand => brand.avgSales),
                    backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                    ],
                    borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                    ],
                    borderWidth: 1
                  }]
                },
                options: {
                  responsive: true,
                  maintainAspectRatio: false,
                  scales: {
                    y: {
                      beginAtZero: true

                    }
                  },
                  plugins: {
                    legend: {
                      display: true,
                      position: 'top',
                      labels: {
                        usePointStyle: true,
                      }
                    }
                  }
                }
              });
            </script>
          </div>
        </div>
      </div>
      <!-- 테이블 데이터 영역 시작  -->
      <div class="table_data_wrap">
        <script>
          $( function() {

            $( ".td_resizable" ).resizable({  //테이블 리사이즈
              alsoResize: ".also"
            });
            $( ".also" ).resizable();
          } );
        </script>
        <div class="title">
          <h2 th:text="|${category} 프랜차이즈 등록업체|">한식 프랜차이즈 등록업체</h2>
          <span>30/3,200(개)</span>
        </div>
        <div class="scroll sticky-table sticky-ltr-cells">
          <div class="table_wrap also">
            <table class="list_table table-striped table">
              <caption th:text="|$[{category}] 업종별 프랜차이즈 브랜드 가맹점 업체 정보 내역|">[한식] 업종별 프랜차이즈 브랜드 가맹점 업체 정보 내역</caption>
              <thead>
              <tr class="sticky-header">
                <th class="sticky-cell td_resizable" style="width:30px;">NO</th>
                <th class="sticky-cell td_resizable" style="width:70px;">가맹정보공개서등록번호</th>
                <th class="td_resizable" style="width:160px;">프랜차이즈(브랜드명)</th>
                <th class="td_resizable" style="width:60px;">리뷰점수(카카오)</th>
                <th class="td_resizable" style="width:70px;">지도보기</th>
                <th class="td_resizable" style="width:80px;">전화번호</th>
                <th class="td_resizable" style="width:50px;">2022년</th>
                <th class="td_resizable" style="width:50px;">2021년</th>
                <th class="td_resizable" style="width:50px;">2020년</th>
                <th class="td_resizable" style="width:50px;">2019년</th>
                <th class="td_resizable" style="width:50px;">2018년</th>
                <th class="td_resizable" style="width:200px;">주소(도로명)</th>
                <th class="td_resizable" style="width:150px;">주소(지번)</th>

              </tr>
              </thead>
              <tbody>
              <tr th:each="table, userStat : ${food}" class="food_table">
                <td class="sticky-cell" th:text="${userStat.count}">30</td>
                <td class="sticky-cell">200801000006</td>
                <td><b th:text="${table.brandName}">자연나라 한식별곡 청라점</b></td>
                <td class="center" th:text="|${table.reviewScore}/5.0|">4.5/5.0</td>
                <td class="center"><button onclick="">지도보기</button></td>
                <td th:text="${table.tel}">031-000-0000</td>
                <td class="center">영업</td>
                <td class="center">영업</td>
                <td class="center">영업</td>
                <td class="center">영업</td>
                <td class="center">영업</td>
                <td th:text="${table.add1}">인천 광역시 남동구 구월로 100번길 80 100-34</td>
                <td th:text="${table.add2}">인천 광역시 남동구 구월동 123-34번지 2층 </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>


      </div>
      <!-- 테이블 데이터 영역 끝 -->
      <!-- ######## 각 페이지에 해당 하는 내용 HTML을 넣어주세요.########### -->
    </div>

    <!-- #### 03-1.우측 본문 영역 끝 -->
  </section>
  <!-- ####### 03. CONTENTS END ####### -->
  <hr class="skip"/>
  <!-- ####### 04. FOOTER START ####### -->
  <div class="footer_wrap" th:insert="~{footer.html}"></div>
  <!-- ####### 04. FOOTER END ####### -->

</div>
</body>
</html>