<!-- 02-2-1. 대시보드 집계 그래프 노출 영역 시작 -->
<h2>외식업 브랜드 통계/분석</h2>
<ul class="sub_menu_list">
  <li><a href="brand/?sales" class="active"><i class="fa-solid fa-money-bill-trend-up"></i><span>매출순위</span></a></li>
  <li><a href="brand/?cost"><i class="fa-solid fa-coins"></i><span>개업(창업)비용</span></a></li>
  <li><a href="brand/?area"><i class="fa-solid fa-chart-area"></i><span>지역별 밀집</span></a></li>
  <li><a href="brand/?store"><i class="fa-solid fa-store"></i><span>가맹점 수</span></a></li>
  <li><a href="brand/?closing"><i class="fa-solid fa-store-slash"></i><span>계약종료(폐점)</span></a></li>
</ul>