<dt class="fa fa-pie-chart" title="외식업종"></dt>
<dd><a href="category/한식">한식</a></dd>
<dd><a href="category/한식">중식</a></dd>
<dd><a href="category/한식">일식</a></dd>
<dd><a href="category/한식">양식</a></dd>
<dd><a href="category/한식">치킨</a></dd>
<dd><a href="category/커피">커피</a></dd>
<dd><a href="category/한식">주점</a></dd>
<dd><a href="category/한식">분식</a></dd>
<dd><a href="category/한식">피자</a></dd>
<dd><a href="category/한식">제과<br/>제빵</a></dd>
<dd><a href="category/한식">패스트푸드</a></dd>
<dd><a href="category/한식">음료<br/>(커피)</a></dd>
<dd><a href="category/한식">아이스크림<br/>(빙수)</a></dd>
<dd><a href="category/한식">기타<br/> 외국식</a></dd>
<dd><a href="category/한식">기타<br/>외식</a></dd>
<dd><a href="javacsript:void(0)" onclick="setOverlayMapTypeId('traffic')")>도로<br/>정보</a></dd>