<dt class="fa fa-pie-chart" title="외식업종"></dt>
<dd><a onclick='sendCategory("한식")' title="한식"><i class="fa-solid fa-bowl-food"></i></a></dd>
<dd><a onclick='sendCategory("중식")' title="중식"><i class="fa-solid fa-bowl-rice"></i></a></dd>
<dd class="active"><a onclick='sendCategory("일식")' title="일식"><i class="fa-solid fa-fish-fins"></i></a></dd>
<dd><a onclick='sendCategory("서양식")' title="서양식"><i class="fa-solid fa-utensils"></i></a></dd>
<dd><a onclick='sendCategory("치킨")' title="치킨"><i class="fa-solid fa-drumstick-bite"></i></a></dd>
<dd><a onclick='sendCategory("커피")' title="커피"><i class="fa-solid fa-mug-hot"></i></a></dd>
<dd><a onclick='sendCategory("주점")' title="주점"><i class="fa-solid fa-champagne-glasses"></i></a></dd>
<dd><a onclick='sendCategory("분식")' title="분식"><i class="fa-solid fa-plate-wheat"></i></a></dd>
<dd><a onclick='sendCategory("피자")' title="피자"><i class="fa-solid fa-pizza-slice"></i></a></dd>
<dd><a onclick='sendCategory("제과제빵")' title="제과제빵"><i class="fa-solid fa-hotdog"></i></a></dd>
<dd><a onclick='sendCategory("패스트푸드")' title="패스트푸드"><i class="fa-solid fa-burger"></i></a></dd>
<dd><a onclick='sendCategory("커피외음료")' title="커피외음료"><i class="fa-solid fa-mug-saucer"></i></a></dd>
<dd><a onclick='sendCategory("아이스크림")' title="아이스크림"><i class="fa-solid fa-ice-cream"></i></a></dd>
<dd><a onclick='sendCategory("기타외국식")' title="기타외국식"><i class="fa-solid fa-cake-candles"></i></a></dd>
<dd><a onclick="setOverlayMapTypeId('traffic')") title="도로정보"><i class="fa-solid fa-car-side"></i></a></dd>
<!--<dd><a href="javacsript:void(0)" onclick="setOverlayMapTypeId('traffic')")>도로<br/>정보</a></dd>-->