<!-- 02-2-1. 대시보드 집계 그래프 노출 영역 시작 -->
<!--<h2 th:if="${category}" th:text="|[${category}] 업종별 가맹점 분포|">[외식] 업종별 가맹점 분포</h2>-->
<div class="btn_lnb_open"><a href="#" class="fa fa-chevron-left"> </a></div>
<h2 th:if="null" th:text="업종별 브랜드 분포">업종별 브랜드 분포</h2>
<!--<h2 th:unless="null" th:utext="|[${category}] 업종별 브랜드 분포|">양갱</h2>-->
<h2>
    <b th:unless="null" th:text="|${category}|"> </b> 프랜차이즈 점유율
</h2>

<div class="dash_board_graph">
    <canvas id="myChart" width="auto" height="auto"></canvas>
    <script>
        var br_list = [[${pie}]];
        console.log('리스트는 오는가')
        console.log(br_list)
        console.log('리스트는 오지 않았다')
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: br_list.map(brand => brand.brandName),
                datasets: [{
                    label: '# of Votes',
                    data: br_list.map(brand => brand.franchiseNumber),
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
</div>
<!-- 02-2-1.대시보드 집계 그래프 노출 영역 끝 -->
<!-- 02-2-2.페이지 컨텐츠 서브 메뉴 노출 시작 -->
<dl class="latest">
    <dt th:if="null" th:text="가맹점수 Top3"></dt>
    <dt>
        <b th:unless="null" th:text="|${category}|"> </b> 브랜드 TOP3
    </dt>
    <dd>
        <ol class="br_li">
            <li th:each="brand : ${Brand}">
                <a href="#">
                    <span class="thumb_img"></span>
                    <span class="brand_name" th:text="${brand.brandName}">마을회관 왕갈비 일산점</span>
                    <b class="num" th:text="${brand.franchisesNumber}"> 1230</b>
                </a>
            </li>
            <li th:each="brand : ${brand3}">
                <a href="#">
                    <span class="thumb_img"></span>
                    <span class="brand_name" th:text="${brand.brandName}">마을회관 왕갈비 일산점</span>
                    <b class="num" th:text="${brand.franchisesNumber}"> 1230</b>
                </a>
            </li>
        </ol>
    </dd>
    <dd class="btn_more"><a href="#">더보기</a></dd>
    <script>
        $('.br_li > li').hide();
        $('.br_li > li').slice(0, 3).css("display", "block");
        $('.btn_more').click(function (e) {
            e.preventDefault();
            $('.br_li > li:hidden').slice(0, 3).fadeIn(200).css("display", "block");
            if ($('.br_li > li:hidden').length == 0) {
                $('.btn_more').fadeOut(100);
            }
        });
    </script>
</dl>