<!-- 02-2-1. 대시보드 집계 그래프 노출 영역 시작 -->
<h2>지역별 외식업 브랜드 검색
  <div class="standard_cond">(2022~2021년 가맹기준)</div>
</h2>
<ul class="sub_menu_list">
  <li><a href="region/전국"><i class="fa-solid fa-earth-asia"></i><span>전국</span><b class="num">18,562</b></a></li>
  <li><a href="region/강원"><i class="fa-solid fa-location-dot"></i><span>강원</span><b class="num">562</b></a></li>
  <li><a href="region/경기"><i class="fa-solid fa-map-pin"></i><span>경기</span><b class="num">764</b></a></li>
  <li><a href="region/경남"><i class="fa-solid fa-location-arrow"></i><span>경남</span><b class="num">547</b></a></li>
  <li><a href="region/경북"><i class="fa-solid fa-magnifying-glass"></i><span>경북</span><b class="num">54</b></a></li>
  <li><a href="region/광주"><i class="fa-solid fa-location-crosshairs"></i><span>광주</span><b class="num">442</b></a></li>
  <li><a href="region/대구"><i class="fa-solid fa-map-location-dot"></i><span>대구</span><b class="num">250</b></a></li>
  <li><a href="region/대전"><i class="fa-regular fa-bookmark"></i><span>대전</span><b class="num">222</b></a></li>
  <li><a href="region/부산"><i class="fa-solid fa-flag"></i><span>부산</span><b class="num">456</b></a></li>
  <li><a href="region/서울"><i class="fa-solid fa-heart"></i><span>서울</span><b class="num">123</b></a></li>
  <li><a href="region/세종"><i class="fa-solid fa-circle-info"></i></i><span>세종</span><b class="num">69</b></a></li>
  <li><a href="region/울산"><i class="fa-solid fa-tags"></i><span>울산</span><b class="num">89</b></a></li>
  <li><a href="region/인천"><i class="fa-solid fa-street-view"></i></i><span>인천</span><b class="num">36</b></a></li>
  <li><a href="region/전남"><i class="fa-solid fa-compass-drafting"></i><span>전남</span><b class="num">99</b></a></li>
  <li><a href="region/전북"><i class="fa-solid fa-map"></i><span>전북</span><b class="num">65</b></a></li>
  <li><a href="region/제주"><i class="fa-solid fa-store"></i><span>제주</span><b class="num">0</b></a></li>
  <li><a href="region/충남"><i class="fa-solid fa-star"></i><span>충남</span><b class="num">89</b></a></li>
  <li><a href="region/충북"><i class="fa-regular fa-map"></i><span>충북</span><b class="num">891</b></a></li>
</ul>